---
 const personalImageAlt = "Roberto Reyes"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-600 dark:[&>p>strong]:text-teal-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi experiencia en el campo de la tecnología, 
      he trabajado en diversas áreas que van desde el soporte técnico 
      hasta el desarrollo Full-Stack y la gestión de infraestructuras en la nube. <strong
      >Mi interes por la tecnología me mantiene en constante actualización mediante certificaciones y nuevos aprendizajes que van orientados al analisis, la seguridad y actualizacion de lenguajes de programacion. </strong
      >
    </p>
    <p>
      Actualmente, me desempeño como <strong
      >Desarrollador Full-Stack, trabajando con tecnologías como .NET, Node.js, React y Astro <em class="italic"> y gestionando servicios de infraestructura Cloud como </em> Azure y GCP.</strong
      >Mi objetivo es avanzar en el campo de la ciberseguridad o DevOps, 
      contribuyendo al éxito de proyectos tecnológicos innovadores.
    </p>
    <p>
    Algunos de mis éxitos incluyen <strong
      >Migracion de servicios de Red, seguridad y almacenamiento a nivel nacional tanto local como a servicios Cloud, proyecto de Red Wifi abierta a gran escala con Cisco y proyectos de desarrollo orientado a la necesidades de los clientes.</strong
    > Estos servicios fueron realizados con la documentacion y el uso de estos servicios con exito.
  </p>
  </div>

  <img width="200" height="200" src="/Foto_P.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
